.t{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartelera-title
{
    font-size: 36px;
    color: #333;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    font-family: 'Press Start 2P', cursive;
}
.cartelera-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #333;
}
.botones { 
  font-family: 'Press Start 2P';
}
.titulos {
  font-family: 'Press Start 2P';
  font-size: 110%;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #333;

}
.btn-default:active .filter-button:active
{
    background-color: #333;
    color: white;
}

.port-image
{
    width: 100%;
}

.cartelera_product
{
    margin-bottom: 30px;
}

h1 {
  margin-bottom: 40px
}

label {
  color: #333
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}
.boton4 {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #333;
  border: 2px solid;
  border-color: #333;
  position: relative;
 
}
.boton4:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(64, 71, 73);
  transition: all 0.2s ease;
}

.img{
  margin-bottom: 10px;
}